{% extends "network/layout.html" %}

{% block body %}
    <h2 class="my-4">All Posts</h2>

    <div class="row">
        <!-- New Post -->
        <div class="col-lg-5">
            <form action="{% url 'add_post' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper form-group">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">New Post</label>
                    {{ form.content }}
                </div>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
        </div>
        <!-- Old Posts -->
        <div class="col-lg-7"></div>
    </div>

{% endblock %}