{% extends "network/layout.html" %}

{% block body %}
    <h2 class="my-4">All Posts</h2>

    <div class="row">
        <!-- New Post -->
        <div class="col-lg-5">
            <form action="{% url 'add_post' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper form-group">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">New Post</label>
                    {{ form.content }}
                </div>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
        </div>
        <!-- Old Posts -->
        <div class="col-lg-7 mt-4">
            {% for post in posts %}
            <div class="border rounded my-2 p-3" id="post">
                <a href="{% url 'profile' post.poster %}"><h5>{{ post.poster }}</h5></a>
                <ul class="list-unstyled">
                    <li>{{ post.content }}</li>
                    <li><small class="text-muted">{{ post.date_created }}</small></li>
                    <li><i class="bi bi-heart-fill" id="heart"></i> {{ post.number_of_like }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}