<div>
    {% for post in page_obj %}
    <div class="border rounded my-2 p-3" id="post">
        <a href="{% url 'profile' post.poster %}"><h5>{{ post.poster }}</h5></a>
        <ul class="list-unstyled">
            <li>{{ post.content }}</li>
            <li><small class="text-muted">{{ post.date_created }}</small></li>
            <li><i class="bi bi-heart-fill" id="heart"></i> {{ post.number_of_like }}</li>
        </ul>
    </div>
    {% endfor %}

    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
<div>