<div>
    {% for post in page_obj %}
    <div class="border rounded my-2 p-3 block-post" id="post-{{ post.id }}">
        <a href="{% url 'profile' post.poster %}"><h5>{{ post.poster }}</h5></a>
        <div id="post-details-{{ post.id }}">
            <ul class="list-unstyled">
                <li id="post-content-{{ post.id }}">{{ post.content }}</li>
                <li><small class="text-muted">{{ post.date_created }}</small></li>
                <!-- Like icon -->
                {% if post.poster != request.user %}
                    {% if post.fan is None or request.user not in post.fan.all %}
                    <li class="fan-{{ post.id }}"><i class="bi bi-heart" id="heart-empty" data-id="{{ post.id }}" data-action="like"></i> {{ post.fan.count }} </li>
                    {% else %}
                    <li class="fan-{{ post.id }}"><i class="bi bi-heart-fill" id="heart-fill" data-id="{{ post.id }}" data-action="unlike"></i> {{ post.fan.count }} </li>
                    {% endif %}
                <!-- poster can't like his own posts -->
                {% else %}
                <li class="fan-{{ post.id }} disabled-icon"><i class="bi bi-heart" id="heart-empty" data-id="{{ post.id }}" data-action="like"></i> {{ post.fan.count }} </li>
                {% endif %}
            </ul>
            <!-- Edit button  -->
            {% if request.user.is_authenticated and post.poster == request.user %}
            <a href="javascript:void(0)" id="edit-{{ post.id }}" data-id="{{ post.id }}" class="btn btn-primary" role="button">Edit</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

<div>