{% extends "network/layout.html" %}

{% block body %}
    <ul class="list-inline">
        <li class="list-inline-item">
            <h2 class="my-4">{{ poster }}'s profile</h2>
        </li>
        <li class="list-inline-item">
            <!-- button Follow or Unfollow for other users -->
            {% if poster != request.user.username %}
                {% if follow_list is None or posts.first.poster not in follow_list.followings.all %}
                <form action="{% url 'toggle_follow' poster %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mb-3 border-primary">Follow</button>
                </form>
                {% else %}
                <form action="{% url 'toggle_follow' poster %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mb-3 border-danger">Unfollow</button>
                </form>
                {% endif %}
            {% endif %}
        </li>
    </ul>

    <div class="row">
        <div class="col-lg-8 offset-lg-2 mt-4">
             <ul class="list-inline">
                <li class="list-inline-item h6">
                    <!-- number of user's followers -->
                    <mark>Numbers of followers:</mark> {{ poster_follow_list.followers.count }}
                </li>
                <li class="list-inline-item h6">
                    <!-- number of pp that user follows -->
                    <mark>Numbers of followings:</mark> {{ poster_follow_list.followings.count }}
                </li>
            </ul>

            <!-- New post form -->
            {% if poster == request.user.username %}
            <form action="{% url 'add_post' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper form-group">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}" class="h5">New Post</label>
                    {{ form.content }}
                </div>
                <input type="submit" value="Post" class="btn btn-primary float-right mb-3">
            </form>
            {% endif %}

            <!-- All of user's posts -->
            <div class="my-5">
                {% include "network/posts.html" %}
            </div>
        </div>
    </div>





{% endblock %}